<table class="w-full">
    <tr>
      <td class="align-center-table">
        <x-image class="w-[560px]" imgUrl="image1.png" />
      </td>
    </tr>
    <tr>
      <td class="text-[#005555] text-[24px] leading-[26px] font-bold align-center-table pt-[30px]">
      Excepteur sint occaecat cupidatat 
      </td>
    </tr>
    <tr>
      <td class="text-[#444444] text-[16px] leading-[19px] font-normal align-center-table py-[24px] px-[50px] sm:px-[13px]">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
      </td>
    </tr>
    
   <tr>
    <td class="px-[20px] pt-[4px] pb-[48px] sm:px-[13px]">
      <table class="w-full">
        <tr>
          <td class="align-center-table">
            <x-button class="text-[#FFFFFF] text-[20px] leading-[22px] font-bold sm:w-full">
              Ut enim ad minim veniam
            </x-button>
          </td>
        </tr>
      </table>
    </td>
   </tr>
  </table>