<table class="w-full">
  <tr>
    <td class="bg-[#F0F5F5] px-[20px] pb-[45px] sm:px-[13px]">
      <table class="w-full">
        <tr>
          <td class="text-[#005555] text-[24px] leading-[26px] pt-[42px] font-bold align-center-table">
            Sint cupidatat occaecat ut
          </td>
        </tr>
        <tr>
          <td class="pt-[38px]">
            <table class="w-full">
              <tr>
               <td class="w-[270px]  bg-[#FFFFFF] sm:w-full inline-block">
                   <table class="w-full">
                     <tr>
                      <td class="align-center-table pt-[10px] sm:pt-[27px]">
                        <x-image class="w-[100px]" imgUrl="icon.png" />
                      </td>
                     </tr>
                     <tr>
                       <td class="text-[#005555] text-[20px] leading-[22px] font-bold align-center-table pt-[18px]">
                        Nisi ut ade
                       </td>
                     </tr>
                     <tr>
                      <td class="text-[#444444] text-[16px] leading-[19px] align-center-table px-[25px] py-[26px] sm:px-[13px]">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<span class="text-[16px] [line-height:0] [vertical-align:0px]">¹</span>
                      </td>
                    </tr>
                   </table>
               </td>
               <td class="w-[20px] sm:w-full inline-block"></td>
              <td class="w-[270px] bg-[#FFFFFF] sm:w-full inline-block">
                <table class="w-full">
                  <tr>
                   <td class="align-center-table pt-[10px] sm:pt-[27px]">
                    <x-image class="w-[100px]" imgUrl="icon.png" />
                   </td>
                  </tr>
                  <tr>
                    <td class="text-[#005555] text-[20px] leading-[22px] font-bold align-center-table pt-[18px]">
                      Duis aute irure
                    </td>
                  </tr>
                  <tr>
                   <td class="text-[#444444] text-[16px] leading-[19px] align-center-table px-[25px]  py-[26px] sm:px-[13px]">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<span class="text-[16px] [line-height:0] [vertical-align:0px]">²</span> 
                   </td>
                 </tr>
                </table>
              </td>
              </tr>
            </table>
          </td>
        </tr>
       
      </table>
    </td>
  </tr> 
</table>