<table class="w-full">
  <tr>
    <td class="px-[20px] py-[20px] sm:px-[13px]">
      <table class="w-full">
        <tr>
          <td class="w-[110px]">
            <x-image class="w-[110px]" imgUrl="logo.png"/>
          </td>
          <td class="w-[20px] sm:w-full inline-block pl-[13px] w-[10px]"></td>
          <td class="text-[12px] text-[#002B2B] leading-[15px] pr-[76px] sm:pr-[0px]">
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>