<table>
  <tr>
    <td class="px-[20px] sm:px-[13px]">
      <table>
        <tr>
          <td class="text-[#000000] text-[12px] font-bold leading-[15px] pt-[36px]">
            Ut enim ad minim:
          </td>
        </tr>
        <tr>
          <td class="text-[#000000] text-[12px] leading-[15px] pt-[16px] text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </td>
        </tr>
        <tr>
          <td class="text-[#000000] text-[12px] leading-[15px] pt-[16px]">
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
          </td>
        </tr>
        <tr>
          <td class="text-[#000000] text-[12px] font-bold leading-[15px] pt-[26px]">
            Sint occaecat cupidatat:
          </td>
        </tr>
        <tr>
          <td class="pt-[16px] pl-[6px]">
            <table>
              <tr>
                <td class="w-[15px] text-[12px] leading-[15px] text-[#000000] align-top">
                   1.
                </td>
                <td class="text-[12px] leading-[15px] text-[#000000]">
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </td>
              </tr>
            
            </table>
          </td>
        </tr>
        <tr>
          <td class="pl-[6px]">
            <table>
              <tr>
                <td class="w-[15px] text-[12px] leading-[15px] text-[#000000] align-top">
                   2.
                </td>
                <td class="text-[12px] leading-[15px] text-[#000000]">
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                </td>
              </tr>
            
            </table>
          </td>
        </tr>
        <tr>
          <td class="pt-[16px]">
            <hr class="border-t-[#002B2B] border-1">
          </td>
        </tr>
        <tr>
          <td class="text-[12px] leading-[15px] text-[#000000] align-center-table py-[20px]">
            Sed do eiusmod tempor incididunt ut labore
          </td>
        </tr>
        <tr>
          <td class="align-center-table pb-[20px]">
            <x-image class="w-[100px]" imgUrl="image1.png" />
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>